body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin-left: 40px; margin-top: 15px; margin-bottom: 15px; }
p, ul               { margin-left: 40px; margin-bottom: 15px;}
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  font-size: 1em;
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 40px;
}

thead, th { position: sticky; top: 0;
 background-color: #eee}

tr:hover            { background-color: #ffff99;}